@import "../../assets/sass/colors";

.MainHeader {
	display: block;
	width: 100%;
	text-align: center;
	position: fixed;
	background: white;
    z-index: 99;
	.linkhome {
		cursor: default;
		&:visited,
		&:active,
		&:hover {
			color: $titleRed;
		}
	}
	a:visited,
	a {
		padding-left: 15px;
		padding-right: 15px;
		color: $titleRed;
		width: 100%;
		box-sizing: border-box;
		display: inline-block;
	}
	a:active,
	a:focus,
	a:hover {
		color: lighten($titleRed, 15%);
	}
	.mainTitle {
		text-align: center;
		width: 100%;
		display: inline-block;
		text-transform: uppercase;
	}
}
