@import "../../assets/sass/colors";

.Pokedex {
	* {
		box-sizing: border-box;
	}
	max-height: calc(100vh - 90px);
	.searchInput {
		border: 2px solid transparent;
		padding: 5px 10px;
		border-radius: 5px;
		width: 100%;
	}

	.link {
		border: 2px solid $black;
		padding: 5px;
		border-radius: 5px;
		display: initial;
		text-decoration: none;
		color: $black;
		float: right;
		@media screen and (min-width: 768px) {
			padding: 5px 15px;
			display: none;
		}
		&:focus,
		&:active,
		&:hover {
			background-color: $linkColor;
			color: $white;
			.btnInfoMobile {
				color: $black;
			
			}
		}
	}
	table {
		border: none;
		min-width: initial;
		width: calc(100% + 30px);
		text-align: center;
		margin: 0 -15px;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 30px;
		font-size: 14px;
		@media screen and (min-width: 768px) {
			font-size: 16px;
			min-width: 700px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	tr,
	th {
		padding: 5px;
		box-sizing: border-box;
		@media screen and (min-width: 768px) {
			padding: 5px 15px;
		}
	}

	thead,
	tfoot,
	tbody {
		th,
		tr {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			td {
				flex: 1 1 auto;
				width: 100%;
			}
		}
		display: block;
	}

	thead {
		font-size: 0.9em;
		color: $white;
		background-color: $linkColor;
	}

	tfoot {
		font-size: 0.9em;
		th,
		tr {
			align-items: flex-start;}
		th {
			border-top: 2px solid $linkColor;
		}
	}

	tbody {
		max-height: calc(100vh - 230px);
		overflow-y: scroll;
		tr {
			transition: 200ms;
			&:hover {
				background-color: $bgcRedHover;
				.link {
					display: initial;
				}
			}
			td {
				min-height: 30px;
				&:first-of-type {
					min-width: initial;
					text-align: left;
					@media screen and (min-width: 768px) {
						padding-left: 15px;
						min-width: 120px;
					}
				}
				&:last-of-type {
					text-align: left;
					@media screen and (min-width: 768px) {
						padding-right: 15px;
					}
				}
			}
		}
	}

	.btnInfoMobile {
		display: inline-block;
		height: 16px;
		width: 16px;
		border-radius: 100%;
		background-color: #dbdbdb;
		text-align: center;
		@media screen and (min-width: 768px) {
			display: none;
		}
		&:hover {
			color: $black;
		}
	}
	.btnInfo {
		display: none;
		@media screen and (min-width: 768px) {
			display: inline-block;
		}
	}
}
