@import "../../assets/sass/colors";

.border {
    border: 2px solid $borderColor;
    padding: 5px 15px;
    border-radius: 5px;
}
.Pokedex {
    * {
        box-sizing: border-box;
    }
    .searchInput {
        border: 2px solid transparent;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .vermais {
        @extend .border;
        display: none;
        text-decoration: none;
        color: $linkColor;
        &:focus,
        &:active,
        &:hover {
            background-color: $linkColor;
            color: $white;
        }
    }
    table {
        border: none;
        min-width: 700px;
        text-align: center;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
    }

    tr,
    th {
        padding: 5px 15px;
        box-sizing: border-box;
    }

    thead {
        font-size: 0.9em;
        color: $white;
        background-color: $bgcRed;
    }

    tbody {
        tr {
            td {
                min-height: 30px;
                &:first-of-type {
                    min-width: 120px;
                    text-align: left;
                    padding-left: 15px;
                }
            }
            &:hover {
                background-color: $bgcRedHover;
                .vermais {
                    display: initial;
                }
            }
        }
    }
}
