$redColor: red;
$redColorLight: #cc7c7c;
$redColorSemiLight: #f6bebe;
$white: #ffffff;


// Texts
$titleRed: rgb(175, 2, 2);

// Links
$bgcRedHover: $redColorSemiLight;


// backgrounds
$bgcRed: $redColorLight;
$gbcHeader: rgb(175, 2, 2);
// borders
$borderColor: $redColor;
$linkColor: $redColor;
$linkHoverColor: $white;